# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 虛擬環境
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VSCode / IDE
.vscode/
.idea/

# 系統檔案
.DS_Store
Thumbs.db

# pytest / coverage
.coverage
htmlcov/
.pytest_cache/

# Git
*.orig
